$green-color: #2ecd70;
$yellow-color: #FFCF26;
$font-size: 18px;
$sub-font: 16px;
$small-font: 14px;
$border-radius: 3px;
$text-color: #2e2e2e;

.login
{
	background: linear-gradient(180deg, #3193BD 0%, #2ECD70 100%);
	overflow: auto;
}

.login-content
{
	margin-top: 45px;
	display: flex;
	align-items:center;
	height: 94vh;
}

.login-about
{
	font-size: 24px;
	font-weight: 600;
	color: #fff;
}

//Форма
.login-form
{
	padding: 45px 50px;
	background: #fff;
	border-radius: 3px;
}

.login-header
{
	font-size: 32px;
	font-weight: 600;
	color: $text-color;
	margin-bottom: 25px;
}

.login-input
{
	margin-bottom: 35px;

	.error
	{
		border: 1px solid red;
	}
}

.login-btn
{
	margin-bottom: 20px;
}

.login-link
{
	font-size: $sub-font;
	margin-bottom: 5px;
}

@media (max-width: 992px)
{	
	.login-content
	{
		height: 100vh;
	}

	.login-form
	{
		padding: 55px;
	}

	.login-input
	{
		margin-bottom: 17px;
	}

	.login-header
	{
		margin-bottom: 12px;
		font-size: 26px;
	}

	.login-btn
	{
		margin-bottom: 15px;
	}
}
