.upload__container
{
	width: 100%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.input__file
{
	opacity: 0;
	visibility: hidden;
	position: absolute;
}


.edit-profile-form
{
	.input__container
	{
		margin-bottom: 15px;
		margin-top: 10px;
	}

	.edit-profile-password-header,.edit-description-header
	{
		font-size: $font-size;
		font-weight: 600;
		color: $text-color;
		margin-top: 10px;
		margin-bottom: 10px;
	}

	.edit-profile-textarea
	{
		width: 100%;
		outline: none;
		border-radius: $border-radius;
		background: rgb(242,243,247);
		padding: 15px;
		border: none;
		min-height: 100px;
		margin-top: 10px;
		transition: all .25s ease;
		&:focus
		{
			border: 2px solid #000;
		}
	}
}